.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/** General Styles **/

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: DM Sans;
}

body {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - (90px + 90px));
  display: flex;
}

h1, h2 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #555555;
}


button {
  background: none;
  border: none;
}


/** Homepage Styling **/


/** Layout Styling **/

header {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 90px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.headerMenu {
  display: flex;
  column-gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.headerMenu * {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #1f1f1f;
}

.drop * {
  font-size: 1.25rem;
  margin: 0rem 2rem 1rem 0rem;
}

#headerLogo > path {
  fill: #1f1f1f
}

.hoverDropdownContainer {
  position: relative;
}

.hoverDropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 2rem;
  right: 0;
  background: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: opacity .35s ease-in 0s;
  padding: 2rem 3rem 1rem;
}

.hoverDropdownContainer:hover .hoverDropdown {
  visibility: visible;
  opacity: 1;
}

.headerMenu.drop {
  flex-direction: column;
}

/** Page Styling **/

  /** Dashboard Styling **/

  .accountsDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
	margin: 0 0 1rem;
  }

  .dashboardContainer {
    width: 90%;
	max-width: 1500px;
    margin: 0 auto;
  }

  .dashboardContainer p {
    font-size: 14px;
  }
  
  .accountOverviewContainer {
    display: flex;
    gap: 3rem
  }
  
  .accountOverviewContainer > div {
    width: 50%;
  }

  .accountOverviewData {
    background: #FCFCFC;
    box-shadow: 0px 5px 25px 5px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1rem 3rem;
  }

  .positionAttributesContainer {
    display: flex;
    font-size: 14px;
    border-bottom: 1px solid;
  }

  .positionContainer {
    display: flex;
    border-top: 1px solid;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0;
  }

  .positionContainer.legend {
    border: none;
    padding: 0;
  }

  .accountOverviewChart {
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem 3rem 2rem 2rem;
  }

  #chartPeriodSelection {
    width: fit-content;
    align-self: flex-end;
    margin: 0 0 1rem;
  }

  #positionName {
    width: 20%;
  }

  #positionPrice {
    width: 15%;
  }

  #positionQuantity {
    width: 15%;
  }

  #positionValue {
    width: 18%
  }

  #positionProportion {
    width: 17%;
  }

  #positionPnL {
    width: 15%
  }

  #editPortfolioButton {
    margin: 1rem 0 0 auto;
    display: block;
  }

  #editPositionButton {
    display: block;
    margin: 0 0 0 auto;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #editPositionButton:hover {
    transform: scale(1.15);
  }

  .positionEditForm {
	position: relative;
    display: flex;
    align-items: center;
    width: 100%;
	gap: 1rem;
  }

  #positionEditForm {
    border-top: 1px solid;
  }

  .positionEditForm > input {
    border: none;
    outline: 1px solid #454545;
    border-radius: 3px;
    padding: .2rem 0 .2rem .1rem;
	width: 30%;
  }

    /** Authentication Page Styling **/

.authFormWrapper {
  margin: auto;
  width: 50%;
}

.authForm > p {
  margin-top: 1rem;
}

.authForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.authForm > input {
  width: 50%;
}

.authSubmitButton {
  width: fit-content;
  padding: 1rem 5rem;
  background: #207ebd;
  color: #f9f9f9;
  border: none;
  margin-top: .5rem;
} 

#signOut {
  display: block;
  margin: auto;
}

/** Icons **/


/** CSS Animations **/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #454545;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #454545 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #454545;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#lineChart {
  height: 100% !important;
  width: 100% !important;
}

.hitsContainer {
	display: block;
	position: absolute;
	max-width: 75%;
	top: 105%;
	background: #FCFCFC;
    box-shadow: 0px 5px 25px 5px rgb(0 0 0 / 10%);
    border-radius: 10px;
	margin: 0;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

.hit {
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}